<!DOCTYPE html>
<html lang="en">

  <!-- partial for head -->
  <%- include('../partials/_head/_head') %>
<body>
  <%- include('../partials/_mainNav/_navBar') %>


<h1>Add post</h1>

<form action="/newpost" method="post">
  <input type="text" name="title" placeholder="Post Title">
  <input type="text" name="link" placeholder="Post URL">
  <input type="text" name="text" placeholder="Post description(optional)">
  <!-- <select class="form-select" name="subreddits">
    <option selected>Select a Subreddit to Post to</option>
    <option value="technology">technology</option>
    <option value="webdev">webdev</option>
    <option value="webdevelopment">webdevelopment</option>
  </select> -->
  <input type="submit" value="add post">
</form>

</body>
</html>